.container-box{
  display: flex;
  justify-content: center;
  padding: 16px;
  width: 100%;
  color: var(--text);
  text-align: center;
  font-family: 'K2D';
  .content{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-self: center;
    padding: 35px;
    background-color: var(--primary-minus-1-opc);
    box-shadow: 0px 2px 21px #000000;
    .social-media{
      margin: 14px;
      a{
        color: var(--text);
        font-size: 49px;
        text-decoration: none;
        margin: 0 28px;
      }
      a:hover{
        color: var(--secondary-minus-1);
      }
    }
    h4{
      margin: 10px 0;
      a{
        color: var(--text);
      }
      a:hover{
        color: var(--secondary-minus-1);
      }
    }
  }
}

@media screen and (max-width: 768px){
  .container-box{
    justify-content: flex-start;
    .content{
      width: 100%;
    }
  }
}
