<div class="container">
  <div class="content">
    <h1>SailorMade</h1>
    <br>
    <h2>Somos uma empresa especializada em telecomunicações e soluções <br>tecnlógicas.</h2>
    <div class="social-media">
      <a href="https://www.facebook.com/profile.php?id=100080021216702" class="fa fa-facebook" target="_blank"></a>
      <a href="https://www.instagram.com/tellink.engenharia" class="fa fa-instagram" target="_blank"></a>
      <a href="https://www.linkedin.com/in/tel-link-engenharia-2bb46a243" class="fa fa-linkedin" target="_blank"></a>
    </div>

    <h4>Estrada Dr. Altino Bondensan, 500 - Eugênio de Melo, São José dos Campos - SP, 12230-470</h4>
    <h4>Telefone: (12) 4102-0887</h4><br>
    <h4><a href="#">sailormade.com.br</a></h4>
  </div>
</div>
