.card-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px 90px;
  .container-box{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    .content{
      display: flex;
      width: 100%;
      .image{
        width: 100%;
        height: 290px;
        img{
          width: 100%;
          height: 100%;
          box-shadow: 0px 2px 21px #000000;
        }
      }
      .text-content{
        font-family: 'K2D';
        text-align: center;
        width: 100%;
        margin: 0 20px;
        padding: 0 20px;
        background-color: var(--primary-minus-1-opc);
        .title{
          color: var(--secondary-minus-1);
          margin: 15px 0;
          h4{
            font-size: 22px;
            font-weight: 800;
          }
        }
        .text{
          display: flex;
          justify-content: center;
          p{
            color: var(--text);
            font-size: 16px;
            line-height: 1.8rem;
          }
        }
      }
      .text-card{
        background-color: var(--primary-minus-1-opc);
        font-family: 'K2D';
        box-shadow: 0px 2px 21px #000000;
        margin-left: 20px;
        padding: 0 22px;
        color: var(--text);
        font-size: 16px;
        line-height: 1.8rem;
        h4{
          color: var(--secondary-minus-1);
          margin-top: 24px;
          font-size: 22px;
          font-weight: 800;
        }
        h5{
          font-size: 18px;
        }
        ul{
          font-size: 18px;
        }
      }

      .limit-card{
        padding: 26px;
        background-color: var(--primary-minus-1-opc);
        width: 50%;
        box-shadow: 0px 2px 21px #000000;
        margin-right: 20px;
        font-family: 'K2D';
        h4{
          color: var(--secondary-minus-1);
          font-size: 22px;
          font-weight: 800;
        }
        h6{
          color: var(--secondary-minus-1);
          font-size: 14px;
          font-weight: 600;
        }
        ul{
          line-height: 2rem;
          color: var(--text);
          font-size: 18px;
        }
      }
    }
  }

}

@media screen and (max-width: 768px){
  .card-box{
    margin: 16px;
    .container-box{
      padding: 10px !important;
      .content{
        justify-content: center;
        flex-direction: column;
        .text-content{
          margin: 10px 0!important;
        }
        .image{
          width: 100%;
        }
        .text-card{
          margin-left: 0 !important;
        }
        .limit-card{
          margin-right: 0 !important;
          width: 100% !important;
        }
      }
    }
  }
}
