.container{
  display: flex;
  width: 100%;
  padding: 40px 80px;

  .content{
    display: flex;
    width: 100%;
    .text-content{
      font-family: 'K2D';
      text-align: center;
      .title{
        color: var(--primary-plus-2);
        margin-top: 24px;
        font-size: 32px;
        h5{
          margin: 0;
        }
      }
      .text{
        padding: 10px 28px;
        p{
          color: var(--text-secondary);
          font-size: 16px;
          margin: 10px 0;
        }
      }
    }
    .text-card{
      background-color: var(--primary-minus-1);
      font-family: 'K2D';
      box-shadow: 0px 2px 21px #000000;
      border-radius: 14px;
      margin-left: 20px;
      padding: 0 22px;
      color: var(--text);
      font-size: 16px;
      line-height: 1.8rem;
      h4{
        color: var(--secondary-minus-1);
        margin-top: 24px;
        font-size: 18px;
      }
      ul{
        color: var(--text);
        font-size: 16px;
      }
    }

    .limit-card{
      padding: 26px;
      border-radius: 14px;
      background-color: var(--primary-minus-1);
      width: 50%;
      box-shadow: 0px 2px 21px #000000;
      margin-right: 20px;
      font-family: 'K2D';
      h4{
        color: var(--secondary-minus-1);
        font-size: 22px;
      }
      h6{
        color: var(--secondary-minus-1);
        font-size: 14px;
      }
      ul{
        line-height: 2rem;
        color: var(--text);
        font-size: 20px;
      }
    }
  }

  .image{
    width: 80%;
    img{
      border-radius: 14px;
      width: 100%;
      height: 300px;
      box-shadow: 0px 2px 21px #000000;
    }
  }
}

@media screen and (max-width: 768px){
  .container{
    padding: 20px !important;
    .content{
      justify-content: center;
      flex-direction: column;
      .image{
        width: 100%;
      }
      .text-card{
        margin-left: 0 !important;
      }
      .limit-card{
        margin-right: 0 !important;
        width: 100% !important;
        margin-bottom: 20px;
      }
    }
  }
}
