<div class="card-box">

  <div class="container-box">
    <div class="content">
      <div class="image">
        <img src="assets/amazoniaazul.jpg" alt="Amazônia Azul">
      </div>

      <div class="text-content">
        <div class="title">
          <h4>Amazônia Azul e SisGAAz</h4>
        </div>

        <div class="text">
          <p>
            O Brasil possui um dos maiores espaços marítimos sob sua jurisdição, área que somente o Brasil pode explorar economicamente.
            O SisGAAz é o sistema que gerencia o controle e monitoramento da Amazônia Azul, por meios operacionais da Marinha do Brasil, que integram a rede de informação e apoio á decisão.
          </p>
        </div>
      </div>

      <div class="image">
        <img src="assets/SisGAAz.jpg" alt="SisGAAz">
      </div>
    </div>

  </div>

  <div class="container-box">
    <div class="content">
      <div class="image">
        <img src="assets/coberturaOceanica.jpg" alt="Cobertura Oceânica">
      </div>

      <div class="text-card">
        <h4>A Amazônia Azul é composta pelas áreas de:</h4>
        <br>
        <ul>
          <li>Zona Econômica exclusiva(ZEE) - 3.500.000Km²</li>
          <li>Plataforma Continental - 911.000Km²</li>
        </ul>
        <br>
        <h5>O SisGAAz abrange toda as Águas Jurisdicionais Brasileira (AJB) e as  áreas para operações de Socorro e Salvamento(SAR), que correspondem á 10.000.000Km².</h5>
      </div>

    </div>
  </div>

  <div class="container-box">
    <div class="content">

      <div class="limit-card">
        <h4>LIMITES DO MAR</h4>
        <h6>em milhas náuticas</h6>
        <br>
        <ul>
          <li>Mar Territorial: 12 milhas</li>
          <li>Mar Territorial Digital: 30 milhas</li>
          <li>ZEE: 200 milhas</li>
        </ul>
      </div>

      <div class="image">
        <img src="assets/limitesDoMar.jpg" alt="Limites do mar">
      </div>

    </div>
  </div>

</div>
