<div class="container">

  <div class="content">
    <div class="text-content">

      <div class="title">
        <h2>TECNOLOGIA E NÃO MAGIA AO ALCANCE DE TODOS QUE SE LANÇAM AO MAR.</h2>

        <h5>Tudo com absoluta segurança, o SailorMade é uma tecnologia que permite que os barcos estejam  em permanente contato com outros barcos, e com pontos em terra, dentro da área de cobertura.</h5>
      </div>


      <div class="list-content">

        <ul class="list-style">
          <li>Localização em tempo real</li>
          <li>Cobertura Wifi</li>
          <li>Emissão de alertas em tempo real</li>
          <li>Permanente contato com pontos em terra</li>
        </ul>

        <a id="access-button" href="https://sailormade.online" target="_blank"><button>ACESSE JÁ</button></a>

      </div>

    </div>

    <div class="cards">
      <div class="card-list">
        <li class="card-item">
          <div class="card">
            <h1>Sinergia</h1>
            <p>Cada barco estará conectado permanentemente á terra firme, em uma troca constante de informações.</p>
          </div>
        </li>
        <li class="card-item">
          <div class="card">
            <h1>Satisfação</h1>
            <p>Cada barco estará conectado permanentemente á terra firme, em uma troca constante de informações.</p>
          </div>
        </li>
        <li class="card-item">
          <div class="card">
            <h1>Simplicidade</h1>
            <p>Cada barco estará conectado permanentemente á terra firme, em uma troca constante de informações.</p>
          </div>
        </li>
        <li class="card-item">
          <div class="card">
            <h1>Segurança</h1>
            <p>Cada barco estará conectado permanentemente á terra firme, em uma troca constante de informações.</p>
          </div>
        </li>
      </div>
    </div>
  </div>

</div>
