* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
}

body{
  background-image: url(./assets/sea.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

:root{
  --primary: #005F9C;
  --primary-opc: #005F9C60;
  --primary-minus-1: #0082D7;
  --primary-minus-1-opc: #0082D760;
  --primary-minus-2: #089CFB;
  --primary-plus-1: #004C7E;
  --primary-plus-2: #003A5F;
  --secondary: #A67C00;
  --secondary-minus-1: #FFDC73;
  --assets: #008947;
  --assets-minus-1: #00FC83;

  --text-primary: #212121;
  --text-secondary: #757575;
  --text: #FFFFFF;

  --button: #7E803C;
}

@media screen and (max-width: 768px) {
  html, body {
    display: flex;
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
