<div class="container">
  <div class="content">
    <div class="image">
      <img src="../../../../assets/Mar Territorial.JPG" alt="Mar territorial">
    </div>

    <div class="text-content">
      <ul>
        <li>Cobertura Wifi</li>
        <li>Cobertura Satélite</li>
        <li>Módulo Web</li>
        <li>Módulo Embarcado</li>
      </ul>
    </div>
  </div>

  <div class="card">

    <div class="text-content">
      <p>
        Uma solução abrangente e, principalmente, imediata para atender 10% da área da Amazônia Azul.
      </p>
    </div>

    <div class="image">
      <img src="../../../../assets/boats in sea.jpg" alt="Tecnologia">
    </div>

  </div>
</div>
