<div class="container">
  <div class="content">
    <div class="image">
      <img src="../../../../assets/Mar Territorial.JPG" alt="Mar territorial">
    </div>

    <div class="text-content">
      <h4>Ideal para acompanhar em tempo real as embarcações sob sua responsabilidade.</h4>
      <span>
        A tecnologia SailorMade consiste em:
      </span>
      <ul>
        <li>Receptor GPS</li>
        <li>Conexão Wifi</li>
        <li>Módulo de navegação embarcado</li>
        <li>Módulo de navegação WEB</li>
        <li>Alarme de segurança</li>
      </ul>
    </div>
  </div>

  <div class="card-content">

    <div class="text-content">
      <p>
        Você acessa os dados através da Central de Rastreamento na Internet, e as informações ficam armazenadas de forma padronizada e segura.
      </p>
    </div>

    <div class="image">
      <img src="../../../../assets/boats in sea.jpg" alt="Tecnologia">
    </div>

    <div class="text-content">
      <p>
        Uma solução abrangente e, principalmente, imediata para atender 10% da área da Amazônia Azul.
      </p>
    </div>

  </div>
</div>

