.container-box{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 16px 90px;
  .content{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--primary-minus-1-opc);
    box-shadow: 0px 2px 21px #000000;
    padding: 10px;
    .image{
      width: 60%;
      height: 100%;
      img{
        display: flex;
        width: 100%;
        height: 250px;
        box-shadow: 0px 2px 21px #000000;
      }
    }
    .text-content{
      display: flex;
      flex-direction: column;
      width: 40%;
      font-family: 'K2D';
      color: var(--text);
      padding: 0 28px;
      h4{
        color: var(--secondary-minus-1);
        font-size: 22px;
        font-weight: 800;
      }
      span{
        font-size: 16px;
        font-weight: 600;
      }
      ul{
        list-style-type: "\1F44D";
        text-decoration: underline;
      }
      ul, li:not(:first-child and :last-child){
        margin: 7px 0;
      }
    }
  }

  .card-content{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 290px;
    .text-content{
      height: 100%;
      display: flex;
      background-color: var(--primary-opc);
      font-family: 'K2D';
      // font-weight: 600;
      font-size: 28px;
      color: var(--text);
      width: 50%;
      padding: 14px 25px;
      box-shadow: 0px 2px 21px #000000;
    }
    .image{
      width: 50%;
      margin: 0 20px;
      img{
        box-shadow: 0px 2px 21px #000000;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .container-box{
    justify-content: flex-start;
    height: auto;
    padding: 26px;
    .content{
      flex-direction: column;
      .text-content{
        padding-left: 0 !important;
        width: 100% !important;
        padding-top: 10px !important;
      }
      .image{
        width: 100% !important;
      }
    }
    .card-content{
      padding: 0 !important;
      flex-direction: column;
      height: auto;
      .text-content{
        width: 100% !important;
        margin-right: 0 !important;
      }
      .image{
        margin: 10px 0!important;
        width: 100% !important;
      }
    }

  }
}
